{% extends "PFAMaillingBundle::layout.html.twig" %}

{% block content %}
    <div id="mail_Layout"></div>
    <!--<a class="btn-floating btn-large waves-effect waves-light red" data-toggle="modal" data-target="#myModal"><i class="material-icons">add</i></a> -->

    <div class="row">
        <div id="myModal" class="modal col offset-ml m12">
            <div class="modal-content">
                <span>Modal Header</span>
                {{ form(form) }}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_javascripts %}
    <label>
        <input type="text" value="" data-role="materialtags" class="selectUsers"/>
    </label>

    <script>
        var citynames = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: 'users/list/json',
                local: function(list) {
                    return $.map(list, function(cityname) {
                        alert(1)
                        return { name: cityname };
                    });
                }
            }
        });

        citynames.initialize();

        $('input.selectUsers').materialtags({
            typeaheadjs: {
                name: 'citynames',
                displayKey: 'name',
                valueKey: 'name',
                source: citynames.ttAdapter()
            }
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% javascripts
        "@PFAMaillingBundle/Resources/public/js/MaillingComponent.js"
        "@PFAMaillingBundle/Resources/public/js/maillingScripts.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('.collapsible').collapsible({
            accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    </script>

    <style>
        .tt-menu {
            min-width:200px;
            max-width:100%;
            padding:10px 0;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            background:#fff;
            -webkit-box-shadow:0 2px 5px rgba(0,0,0,.35);
            -moz-box-shadow:0 2px 5px rgba(0,0,0,.35);
            box-shadow:0 2px 5px rgba(0,0,0,.35)
        }
        .materialize-tags .tt-menu .tt-suggestion {
            line-height:1.1rem !important;
            padding:2px 10px !important
        }
        .materialize-tags .tt-menu .tt-cursor {
            background:#03a9f4;color:#fff
        }
    </style>
{% endblock %}