{% extends "PFAMaillingBundle::layout.html.twig" %}

{% block content %}
qùsldmlqsk
    <div id="textZone">

    </div>

    <div id="textFloatingZone">

    </div>
    <br><br><br>
    <button class="ladda-button xxl" data-style="expand-right"><span class="ladda-label">Submit</span></button>
{% endblock %}