.DS_Store
/var/bootstrap.php.cache
#/var/cache/*
/var/*
!var/cache/.gitkeep
/app/config/parameters.yml
#/var/logs/*
!var/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar

/vendor/*

web/js/*
/app/config/parameters.yml.dist
web/css/*

/web/bundles/
/web/js/
/web/css/
web/uploads/*
!/web/uploads/*
.idea/
#app/config/config.yml
#app/config/services.yml
composer.lock