
.DS_Store
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar

/vendor/*

web/js/*
/app/config/parameters.yml.dist
.gitignore
web/css/*

/web/bundles/
/web/js/
/web/css/
web/uploads/*
/web/operations/
!/web/uploads/media
/web/uploads/media/*
!/web/uploads/media/avatar_anaxago.png
.idea/
Vagrantfile
.vagrant/
app/config/config.yml
app/config/config_dev.yml
#app/config/services.yml
composer.lock
src/PFA/CoreBundle/Resources/public/img/
/var/*
