{% if members|length > 0 %}
    <ul class="collection col m12">
        {% for member in members %}
            <li class="collection-item avatar">
                <img alt="IMG" class="circle" src="{{ vich_uploader_asset(member.memeber, "imageFile") }}">
                <span class="title">{{ member.memeber.nom ~ member.memeber.prenom }}</span>
                <p class="truncate">
                    {{ member.memeber.email }}
                </p>
                {% if member.id != project.owner.id %}
                    <a href="javascript:;" data-path="{{ path("remove_project_memeber",{"id": member.id }) }}" class="secondary-content delete-member tooltipped" data-position="bottom" data-delay="50" data-tooltip="Retirer ce membre"><i class="material-icons">delete</i></a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Aucun Memebre.</h3>
{% endif %}

<script>
    $(document).ready(function () {
        //Initialize Tooltips
        $('.tooltipped').tooltip({delay: 50});
    })
</script>