{% extends "PFAMainBundle::layout.html.twig" %}

{% block page_title %}
    Agenda
{% endblock %}

{% block content %}
    <div id="calendar"></div>


    <div class="fixed-action-btn tooltipped" data-position="left" data-delay="50" data-tooltip="Ajouter un événement" style="bottom: 45px; right: 24px;" data-toggle="modal" data-target="#addEventModal">
        <a class="btn-floating btn-large red modal-trigger" href="javascript:;">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <!-- Modal Trigger -->
    <!--<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a> -->

    <div id="addEventModal" class="modal fade" style="width: 90% !important;">
        <div class="modal-content">
            <h4>Ajouter un Evénement</h4>
            {% set includeName = include %}
            {% include "PFAMainBundle:Agenda:" ~ includeName ~ ".html.twig" with {"form": form} %}
        </div>
        <div class="modal-footer">
            <!--<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a> -->
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat" i>Fermer</a>
        </div>
    </div>

    <div id="editEventModal" class="modal fade" style="width: 90% !important;">
        <div class="modal-content">
            <h4>Modifié un Evénement</h4>
            {% set includeName = include %}
            {% include "PFAMainBundle:Agenda:" ~ includeName ~ ".html.twig" with {"form": form} %}
        </div>
        <div class="modal-footer">
            <!--<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a> -->
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat" i>Fermer</a>
        </div>
    </div>

{% endblock %}