.action_bar{
    padding: 1%;
}

li.collection-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

button#add_folder {
    float: right;
}

li.collection-item.avatar.unread {
    font-weight: bolder;
    background-color: lightblue;
}

.mail_view_placeholder{
    color: lightgrey;
}

.cke_dialog
{
    z-index: 10055 !important;
}