.chat-messages-box{
    height: 450px;
    overflow: auto;

}

.chat-members-list{
    /*position: fixed; */
    border: 0px;
    height: 450px;
    margin-right: 0px;
}

.chat-message-box{
    margin-top: -20px;
}